<ion-tabs>
  <ion-tab-bar slot="bottom">
    <!--<ion-tab-button *ngIf="isLoggedIn" tab="roasting">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Roasting Log</ion-label>
    </ion-tab-button>-->
    <ion-tab-button tab="shop">
      <ion-icon name="cart"></ion-icon>
      <ion-label>Shop</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="about-us">
      <img src="assets/icon/honey-jar.svg" alt="honey-jar" />
      <ion-label>About Us</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
