<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button [text]="getBackButtonText()" defaultHref="/tabs/shop"></ion-back-button>
    </ion-buttons>
    <ion-title>{{shopItem.title}}</ion-title>
    <ion-buttons slot="end">
      <ion-badge *ngIf="cartCount > 0" [color]="'danger'">{{cartCount}}</ion-badge>
      <ion-button [fill]="'clear'" (click)="showModal()"><ion-icon name="cart-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="shopItem">
  <ion-item>
    <img class="shopImage" [src]="shopItem.image" [alt]="shopItem.title" />
    <ion-label class="ion-text-wrap">
      <h2>{{ shopItem.title }}</h2>
      <h3 class="date">
        <ion-note [color]="'success'">${{ !price ? '1 - 32' : price }}</ion-note>
      </h3>
    </ion-label>
  </ion-item>
  <ion-select
    #itemSelector
    (ionChange)="setPrice($event)"
    [(ngModel)]="selectBoxValue"
    class="customCardWidth"
    [placeholder]="'Multiple Options Available'"
    interface="action-sheet"
    *ngIf="shopItem.multipleOptions"
  >
    <ion-select-option *ngFor="let option of honeyOptions" [value]="option"> {{option.title}}</ion-select-option>
  </ion-select>
  <div class="ion-padding">
    <ion-note color="dark">Description</ion-note>
    <hr />
    <p [innerHTML]="shopItem.description"></p>
  </div>
  <ion-footer>
    <ion-button
      (click)="addToCart(shopItem)"
      expand="block"
      [fill]="price ? 'solid' : 'outline'"
      [color]="'warning'"
      size="large"
      [disabled]="!price"
      ><ion-icon name="cart-outline"></ion-icon> Add to Cart
    </ion-button>
  </ion-footer>
</ion-content>
