<ion-item-sliding>
  <ion-item [lines]="false" *ngIf="shopItem" [detail]="false">
    <ion-card (click)="navigateForward(shopItem.id)" class="customCardWidth" *ngIf="shopItem">
      <ion-card-header>
        <img
          class="imageAvatar"
          [alt]="shopItem.title"
          [src]="!shopItem?.image ? 'assets/img/honey-thumb.png' : shopItem.image"
        />
        <ion-card-title>{{ shopItem.title }}</ion-card-title>
        <ion-card-subtitle>{{ shopItem.subtitle }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="cardContent">
        {{ shopItem.description }}
      </ion-card-content>
      <ion-footer class="footer"> Swipe left or right for quick options </ion-footer>
    </ion-card>
  </ion-item>
  <ion-item-options [side]="'end'">
    <ion-item-option [color]="'tertiary'">
      <ion-icon name="share"></ion-icon>
      <div>Share</div>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>
