.shopImage {
  max-width: 3rem;
  border-radius: 50%;
  margin: 3rem;
}

.emptyCartList {
  display: grid;
  justify-items: center;
  align-self: center;
  align-items: center;
  vertical-align: center;
}

.emptyCartImage {
  width: 56vw;
}
