<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="closeModal()">Cancel</ion-button>
    </ion-buttons>
    <ion-title *ngIf="cart$.length > 0">Your Cart: ${{total}}</ion-title>
    <ion-title *ngIf="cart$.length === 0">Empty Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="cartListContainer" *ngIf="cart$.length > 0">
    <ion-item *ngFor="let item of cart$" lines="true" class="cartItem">
      <img slot="start" class="shopImage" [src]="item.image" [alt]="item.title" />
      <ion-label>
        <h2>{{!item.selectedOption ? item.title : item.title + ' - ' + item.selectedOption}}</h2>
        <h3><ion-note [color]="'success'">${{item.totalPrice}}</ion-note></h3>
        <h4>
          <ion-note>Quantity: </ion-note>
          <ion-input [autocomplete]="false" type="number" size="large" [value]="item.quantity"></ion-input>
        </h4>
      </ion-label>
      <ion-button slot="end" color="danger" fill="clear" (click)="removeItem(item.id)"
        ><ion-icon name="trash"></ion-icon
      ></ion-button>
    </ion-item>
    <ion-button (click)="pay(total)" color="warning" expand="block" fill="solid">
      Proceed to Checkout (${{total}})
      <ion-icon name="card-outline"></ion-icon>
    </ion-button>
  </ion-list>

  <ion-list class="emptyCartList" *ngIf="cart$.length === 0">
    <img class="emptyCartImage" src="assets/empty-cart.svg" alt="empty cart" />
    <h1>Your Cart is Empty!</h1>
  </ion-list>
</ion-content>
