<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title> About Us </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="mainContent" [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> About Us </ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
