<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title> Shop </ion-title>
    <ion-buttons slot="end" collapse="condense">
      <ion-badge *ngIf="cartCount > 0" [color]="'danger'">{{cartCount}}</ion-badge>
      <ion-button [fill]="'clear'" (click)="openCart()"><ion-icon name="cart-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="mainContent" [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> Shop </ion-title>
      <ion-buttons slot="end">
        <ion-badge *ngIf="cartCount > 0" [color]="'danger'">{{cartCount}}</ion-badge>
        <ion-button [fill]="'clear'" (click)="openCart()"><ion-icon name="cart-outline"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngIf="(inventory$ | async)" [lines]="false" class="mainList">
    <app-message *ngFor="let item of (inventory$ | async)" [shopItem]="item"></app-message>
  </ion-list>
</ion-content>
